.footer__container {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}

.footer__title-first {
  margin: 0;
  width: 242px;
  text-align: left;
  color: var(--font-color);
  font-family: var(--primary-font);
  @include font(18px, 700, 21.94px);
  text-transform: uppercase;
}

.footer__title-second {
  margin-top: 16px;
  margin-bottom: 60px;
  width: 200px;
  letter-spacing: 0.04em;
  text-align: left;
  color: var(--font-color);
  font-family: var(--primary-font);
  @include font(34px, 700, 41.45px);
  text-transform: uppercase;
}

.footer__socials-list {
  display: flex;
  gap: 20px;
  justify-content: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer__socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: var(--site-accent-color);
}

.footer__socials-icon {
  fill: var(--background-color);
  transition: fill var(--page-transition);

  .footer__socials-link:hover &,
  .footer__socials-link:focus & {
    fill: var(--font-color);
  }
}
.footer__tel-container {
  margin-top: 20px;
  display: flex;
  justify-content: right;
  font-family: var(--primary-font);
  @include font(12px, 700, 22.32px);
  color: var(--title-font-color);
}
.footer__tel-text {
  margin: 0;
  color: var(--title-font-color);
}

.footer__tel-number {
  color: var(--font-color);
  text-decoration: none;
}
.footer__copyright-text {
  margin: 0 auto;
  padding-bottom: 20px;
  width: 150px;
  text-align: center;
  font-family: var(--primary-font);
  @include font(14px, 700, 21.28px);
  color: #7a7a7a;
}
.footer__copyright::before {
  margin-top: 40px;
  margin-bottom: 20px;
  content: '';
  display: block;
  width: 100vw;
  height: 1px;
  background: #e1e1e1;
}

@media screen and (min-width: 768px) {
  .footer__container {
    flex-direction: row;
    padding-top: 40px;
    justify-content: space-between;
  }
  .footer__title-first {
    @include font(26px, 700, 31.69px);
    letter-spacing: 0.04em;
    width: 352px;
  }
  .footer__title-second {
    margin-top: 8px;
    margin-bottom: 0;
    @include font(48px, 700, 58.51px);
    letter-spacing: 0.06em;
    width: 352px;
  }
  .footer__socials-list {
    margin-top: 61px;
  }
  .footer__tel-container {
    margin-top: 34px;
    @include font(14px, 700, 26.04px);
  }

  .footer__copyright-text {
    width: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    padding-top: 120px;
  }
  .footer__title-first {
    @include font(30px, 400, 36.57px);
    width: auto;
  }
  .footer__title-second {
    @include font(58px, 700, 70.7px);
    width: auto;
  }
  .footer__socials-list {
    margin-top: 18px;
  }
  .footer__tel-container {
    margin-top: 40px;
    @include font(16px, 700, 29.76px);
    letter-spacing: 0.02em;
  }
  .footer__copyright-text {
    @include font(12px, 700, 22.32px);
    letter-spacing: 0.02em;
  }
}
