.products {
  background-color: var(--background-color);
  margin-left: auto;
  margin-right: auto;
  max-width: 480px;
  background-image: url(../images/products_background_mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .products {
    background-image: url(../images/products_background_mobile@2x.jpg);
  }
}
.products__lable {
  margin: 0;
  padding-top: 60px;
  color: var(--title-font-color);
  text-align: center;
  font-family: var(--primary-font);
  @include font(18px, 800, 22px);
  text-transform: uppercase;
}
.products__title {
  margin-top: 12px;
  margin-bottom: 0px;
  color: var(--title-font-color);
  text-align: center;
  font-family: var(--header-font);
  @include font(30px, 400, 38px);
  letter-spacing: 1.2px;
  text-transform: uppercase;
}
.products__grid-container {
  position: relative;
  margin-top: 148px;
  display: grid;
  justify-items: center;
  grid-row-gap: 168px;
  padding-bottom: 60px;
}
.products__card {
  position: relative;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 280px;
  height: 420px;
  padding: 123px 40px 16px 40px;
  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    top: -97px;
    left: 50%;
    transform: translateX(-50%);
  }
  &::after {
    display: block;
    position: absolute;
    top: -108px;
    left: 50%;
    transform: translateX(-50%);
  }
  &:nth-child(1) {
    background: #aec6a5;
    &::before {
      background: linear-gradient(
          0deg,
          rgba(156, 190, 143, 0.7) 0%,
          rgba(156, 190, 143, 0.7) 100%
        ),
        #d9d9d9;
      filter: drop-shadow(0px 5.342px 20.033px rgba(10, 136, 23, 0.25));
    }
    &::after {
      content: url('../images/products_ice-cream.png');
    }
  }
  &:nth-child(2) {
    background: #efd478;
    &::before {
      background: linear-gradient(
          0deg,
          rgba(248, 210, 78, 0.7) 0%,
          rgba(248, 210, 78, 0.7) 100%
        ),
        #d9d9d9;
      filter: drop-shadow(0px 5.404px 20.265px rgba(153, 114, 23, 0.25));
    }
    &::after {
      content: url('../images/products_ice-coffee.png');
    }
  }
  &:nth-child(3) {
    background: #d6936d;
    &::before {
      background: linear-gradient(
          0deg,
          rgba(213, 117, 63, 0.7) 0%,
          rgba(213, 117, 63, 0.7) 100%
        ),
        #d9d9d9;
      filter: drop-shadow(0px 5.413px 20.3px rgba(0, 0, 0, 0.25));
    }
    &::after {
      content: url('../images/products_milkshakes.png');
    }
  }
}

.products__card-title {
  color: var(--title-font-color);
  text-align: center;
  font-family: Montserrat;
  @include font(20px, 700, 24px);
  letter-spacing: 0.8px;
  text-transform: uppercase;
  margin: 0;
}
.products__card-text {
  color: var(--title-font-color);
  text-align: center;
  font-family: Montserrat;
  @include font(14px, 400, 24.64px);
  letter-spacing: 0.56px;
  margin: 0;
  margin-top: 40px;
  flex-grow: 1;
}
.products__card-arrow {
  fill: var(--title-font-color);
}

// --------------------------480
@media screen and (min-width: 480px) {
  .products {
    background-image: url(../images/products_background_480.jpg);
    background-position: top -20px center;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .products {
      background-image: url(../images/products_background_480@2x.jpg);
    }
  }
  .products__grid-container {
    margin-top: 145px;
  }
  .products__card {
    width: 320px;
    height: 428px;
    padding: 126px 60px 16px 60px;
  }
}
//----------------------------tablet 768
@media screen and (min-width: 768px) {
  .products {
    background-repeat: no-repeat;
    max-width: 768px;
    background-image: url(../images/products_background_tablet.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .products {
      background-image: url(../images/products_background_tablet@2x.jpg);
    }
  }
  .products__lable {
    @include font(22px, 800, 27px);
  }
  .products__title {
    @include font(34px, 400, 43px);
    letter-spacing: 1.36px;
  }
  .products__grid-container {
    grid-template-columns: 224px 224px 224px;
    grid-column-gap: 16px;
    margin-top: 200px;
  }
  .products__card {
    width: 224px;
    height: 428px;
    padding: 108px 26px 12px 26px;
  }
}

@media screen and (min-width: 1200px) {
  .products {
    max-width: 1200px;
    background-position: top 2px center;
    background-image: url(../images/products_background_desktop.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .products {
      background-image: url(../images/products_background_desktop@2x.jpg);
    }
  }
  .products__lable {
    @include font(30px, 800, 37px);
  }
  .products__title {
    @include font(36px, 400, 45px);
    letter-spacing: 2.16px;
  }
  .products__card-text {
    @include font(16px, 400, 28.16px);
    letter-spacing: 0.64px;
    margin-top: 66px;
  }
  .products__grid-container {
    grid-template-columns: 370px 370px 370px;
    grid-column-gap: 29px;
    margin-top: 303px;
  }
  .products__card {
    border-radius: 24px;
    width: 370px;
    height: 536px;
    padding: 165px 64px 60px 64px;
    &::before {
      width: 302px;
      height: 302px;
      top: -167px;
      left: 50%;
      transform: translateX(-50%);
    }
    &::after {
      display: block;
      position: absolute;
      top: -183px;
      left: 50%;
      transform: translateX(-50%);
    }
    &:nth-child(1) {
      background: #aec6a5;
      &::before {
        background: linear-gradient(
            0deg,
            rgba(156, 190, 143, 0.7) 0%,
            rgba(156, 190, 143, 0.7) 100%
          ),
          #d9d9d9;
        filter: drop-shadow(0px 5.342px 20.033px rgba(10, 136, 23, 0.25));
      }
      &::after {
        content: url('../images/products_ice-cream302x302.png');
      }
    }
    &:nth-child(2) {
      background: #efd478;
      &::before {
        background: linear-gradient(
            0deg,
            rgba(248, 210, 78, 0.7) 0%,
            rgba(248, 210, 78, 0.7) 100%
          ),
          #d9d9d9;
        filter: drop-shadow(0px 5.404px 20.265px rgba(153, 114, 23, 0.25));
      }
      &::after {
        content: url('../images/products_ice-coffee302x302.png');
      }
    }
    &:nth-child(3) {
      background: #d6936d;
      &::before {
        background: linear-gradient(
            0deg,
            rgba(213, 117, 63, 0.7) 0%,
            rgba(213, 117, 63, 0.7) 100%
          ),
          #d9d9d9;
        filter: drop-shadow(0px 5.413px 20.3px rgba(0, 0, 0, 0.25));
      }
      &::after {
        content: url('../images/products_milkshakes302x302.png');
      }
    }
  }
}
