.products {
  background-color: var(--motto-font-color);
  margin-left: auto;
  margin-right: auto;
  max-width: 480px;
  background-image: url(../images/products_background_mobile.jpg);
  background-repeat: repeat-y;
  background-position: center;
  background-size: auto;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .products {
    background-image: url(../images/products_background_mobile@2x.jpg);
  }
}
.products__lable {
  margin: 0;
  padding-top: 60px;
  color: var(--title-font-color);
  text-align: center;
  font-family: var(--primary-font);
  @include font(18px, 800, 22px);
  text-transform: uppercase;
}
.products__title {
  margin-top: 12px;
  margin-bottom: 0px;
  color: var(--title-font-color);
  text-align: center;
  font-family: var(--header-font);
  @include font(30px, 400, 38px);
  letter-spacing: 1.2px;
  text-transform: uppercase;
}
.products__grid-container {
  margin-top: 281px;
  display: grid;
  justify-items: center;
  grid-row-gap: 168px;
  padding-bottom: 60px;
}
.products__card {
  position: relative;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-width: 280px;
  max-width: 320px;
  height: 420px;
  padding: 123px 40px 16px 40px;
}
.card-1 {
  background: #aec6a5;
  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(
        0deg,
        rgba(156, 190, 143, 0.7) 0%,
        rgba(156, 190, 143, 0.7) 100%
      ),
      #d9d9d9;
    filter: drop-shadow(0px 5.342px 20.033px rgba(10, 136, 23, 0.25));
    top: -88px;
    left: 50%;
    transform: translateX(-50%);
  }
  &::after {
    content: url('../images/products_ice-cream.png');
    display: block;
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.card-2 {
  background: #efd478;
  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(
        0deg,
        rgba(248, 210, 78, 0.7) 0%,
        rgba(248, 210, 78, 0.7) 100%
      ),
      #d9d9d9;
    filter: drop-shadow(0px 5.404px 20.265px rgba(153, 114, 23, 0.25));
    top: -88px;
    left: 50%;
    transform: translateX(-50%);
  }
  &::after {
    content: url('../images/products_ice-coffee.png');
    display: block;
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.card-3 {
  background: #d6936d;
  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(
        0deg,
        rgba(213, 117, 63, 0.7) 0%,
        rgba(213, 117, 63, 0.7) 100%
      ),
      #d9d9d9;
    filter: drop-shadow(0px 5.413px 20.3px rgba(0, 0, 0, 0.25));
    top: -88px;
    left: 50%;
    transform: translateX(-50%);
  }
  &::after {
    content: url('../images/products_milkshakes.png');
    display: block;
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.products__card-title {
  color: var(--title-font-color);
  text-align: center;
  font-family: Montserrat;
  @include font(20px, 700, 24px);
  letter-spacing: 0.8px;
  text-transform: uppercase;
  margin: 0;
}
.products__card-text {
  color: var(--title-font-color);
  text-align: center;
  font-family: Montserrat;
  @include font(14px, 400, 24.64px);
  letter-spacing: 0.56px;
  margin: 0;
  margin-top: 40px;
  flex-grow: 1;
}
.products__card-arrow {
  fill: var(--title-font-color);
}

// --------------------------480
@media screen and (min-width: 480px) {
  .products__card {
    height: 428px;
    padding: 126px 60px 16px 60px;
  }
}
//----------------------------tablet 768
@media screen and (min-width: 768px) {
  .products {
    background-repeat: no-repeat;
    max-width: 768px;
    background-image: url(../images/products_background_tablet.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .products {
      background-image: url(../images/products_background_tablet@2x.jpg);
    }
  }
  .products__lable {
    @include font(22px, 800, 27px);
  }
  .products__title {
    @include font(34px, 400, 43px);
    letter-spacing: 1.36px;
  }
  .products__grid-container {
    grid-template-columns: 224px 224px 224px;
    grid-column-gap: 16px;
    margin-top: 200px;
  }
  .products__card {
    min-width: 224px;
    padding: 108px 26px 12px 26px;
  }
}

@media screen and (min-width: 1200px) {
  .products {
    max-width: 1200px;
    background-image: url(../images/products_background_desktop.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .products {
      background-image: url(../images/products_background_desktop@2x.jpg);
    }
  }
  .products__lable {
    @include font(30px, 800, 37px);
  }
  .products__title {
    @include font(36px, 400, 45px);
    letter-spacing: 2.16px;
  }
  .products__card-text {
    @include font(16px, 400, 28.16px);
    letter-spacing: 0.64px;
  }
  .products__grid-container {
    grid-template-columns: 370px 370px 370px;
    grid-column-gap: 29px;
    margin-top: 303px;
  }
  .products__card {
    min-width: 370px;
    height: 536px;
    padding: 165px 64px 60px 64px;
  }
}
