:root {
  --primary-font: 'Montserrat', sans-serif;
  --header-font: 'Seymour One', sans-serif;
  --motto-font: 'DM Sans', sans-serif;
  --font-color: #fcfcfc;
  --title-font-color: #131313;
  --site-accent-color: #f8d24e;
  --active-color: #0a8817;
  --motto-font-color: #ffffff;
  --header-btn-color-black: #000000;
  //   --hero-title-color: #ffffff;
  --background-color: #84a178;
  //   --hero-background-color: #2f303a;
  //   --hero-bg-gradient-color: rgba(47, 48, 58, 0.4);
  //   --team-background-color: #f5f4fa;
  //   --icon-fill-color: #afb1b8;
  --page-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  //   --header-border-color: #ececec;
  //   --box-wrap-bg-color: rgba(47, 48, 58, 0.8);
  //   --footer-soclink-bg-color: rgba(255, 255, 255, 0.1);
  //   --address-link-color: rgba(255, 255, 255, 0.6);

  //   --subscribe-placeholder-color: rgba(255, 255, 255, 0.6);
  //   --subscribe-input-border-color: rgba(255, 255, 255, 0.3);
  //   --subscribe-backdrop-color: rgba(0, 0, 0, 0.15);

  //   --modal-backdrop-color: rgba(0, 0, 0, 0.2);
  //   --close-btn-border-color: rgba(0, 0, 0, 0.1);

  //   --contact-form-border-color: rgba(33, 33, 33, 0.2);
  //   --contact-form-placeholder-color: rgba(117, 117, 117, 0.5);

  //   --work-desc-border-color: #eeeeee;
  //   --work-overlay-bg-color: rgba(33, 150, 243, 0.9);
}
