/*! modern-normalize v2.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  /* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.15; /* 1. Correct the line height in all browsers. */
  -webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
  -moz-tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
body {
  margin: 0; /* Remove the margin in all browsers. */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

:root {
  --primary-font: "Montserrat", sans-serif;
  --header-font: "Seymour One", sans-serif;
  --motto-font: "DM Sans", sans-serif;
  --font-color: #fcfcfc;
  --title-font-color: #131313;
  --site-accent-color: #f8d24e;
  --active-color: #0a8817;
  --motto-font-color: #ffffff;
  --header-btn-color-black: #000000;
  --background-color: #84a178;
  --page-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: var(--primary-font, sans-serif);
  color: var(--font-color);
  background-color: var(--background-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

.link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1428571429;
  text-decoration-line: none;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.container {
  position: relative;
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
.logo-svg {
  fill: var(--site-accent-color);
}

.page-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: var(--background-color);
}

.page-header__container {
  margin-top: 12px;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.page-nav {
  display: flex;
}

.logo__img {
  width: 48px;
}

.site-nav {
  display: flex;
  gap: 28px;
  margin-left: 308px;
}

.site-nav__link {
  padding-top: 32px;
  padding-bottom: 13px;
  display: inline-block;
  color: var(--font-color);
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  transition: color var(--page-transition);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--site-accent-color);
}

.page-header__button-grup {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.menu-btn {
  display: block;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.menu-btn__svg {
  fill: var(--font-color);
  transition: fill var(--page-transition);
}
.menu-btn:hover .menu-btn__svg, .menu-btn:focus .menu-btn__svg {
  fill: var(--site-accent-color);
}

.page-header__btn {
  display: none;
}

.button {
  border-radius: 10px;
  background: var(--site-accent-color);
}

@media screen and (min-width: 768px) {
  .page-header__container {
    margin-top: 20px;
  }
  .page-header__btn {
    padding: 12px 35px;
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--header-btn-color-black);
    text-align: center;
    font-family: var(--primary-font);
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2142857143;
    cursor: pointer;
    border: none;
    transition: background-color var(--page-transition), color var(--page-transition);
  }
  .page-header__btn:hover, .page-header__btn:focus {
    background-color: var(--active-color);
  }
  .page-header__btn:focus {
    color: var(--font-color);
  }
  .page-header__btn-icon {
    fill: currentColor;
  }
}
@media screen and (max-width: 1199px) {
  .site-nav {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .menu-btn {
    display: none;
  }
  .page-header__container {
    margin-top: 8px;
  }
  .logo__img {
    width: 60px;
  }
}
@media screen and (max-width: 1199px) {
  .menu-container {
    position: fixed;
    text-align: center;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    padding-top: 12px;
    z-index: 999;
    background-color: var(--background-color);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity var(--page-transition), visibility var(--page-transition);
  }
  .menu-container.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
  .menu-logo {
    display: block;
    margin-left: 32px;
  }
  .menu-close-btn {
    position: absolute;
    top: 16px;
    right: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  .menu-close-svg__btn {
    fill: var(--font-color);
    transition: fill var(--page-transition);
  }
  .menu-close-btn:hover .menu-close-svg__btn, .menu-close-btn:focus .menu-close-svg__btn {
    fill: var(--site-accent-color);
  }
  .menu-nav {
    padding-top: 50px;
    padding-bottom: 110px;
  }
  .menu-nav__item:not(:last-child) {
    padding-bottom: 32px;
  }
  .menu-nav__link {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.21875;
    font-family: Montserrat;
    text-decoration-line: none;
    color: var(--font-color);
    display: block;
  }
  .menu-nav__link:hover, .menu-nav__link:focus {
    color: var(--title-font-color);
  }
}
.menu__btn {
  margin: 0 auto;
  padding: 12px 35px;
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--header-btn-color-black);
  font-family: var(--primary-font);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2142857143;
  cursor: pointer;
  border: none;
  transition: background-color var(--page-transition), color var(--page-transition);
}
.menu__btn:hover, .menu__btn:focus {
  background-color: var(--active-color);
}
.menu__btn:focus {
  color: var(--font-color);
}
.menu__btn-icon {
  fill: currentColor;
}

@media screen and (min-width: 480px) {
  .menu-nav {
    padding-top: 40px;
    padding-bottom: 114px;
  }
}
@media screen and (min-width: 768px) {
  .menu-nav {
    padding-top: 76px;
    padding-bottom: 0;
  }
  .menu-nav__item:not(:last-child) {
    padding-bottom: 40px;
  }
  .menu-nav__link {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2291666667;
  }
  .menu__btn {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .menu-container {
    display: none;
  }
}
.page-main {
  margin-top: 99px;
}

@media screen and (min-width: 480px) {
  .page-main {
    margin-top: 98px;
  }
}
@media screen and (min-width: 768px) {
  .page-main {
    margin-top: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .page-main {
    margin-top: 118px;
  }
}
.hero__container {
  position: relative;
}

.hero__title {
  margin: 0;
  width: 247px;
  color: var(--font-color);
  font-family: var(--header-font);
  font-size: 26px;
  font-weight: 400;
  line-height: 1.6153846154;
  letter-spacing: 1.04px;
  text-transform: uppercase;
}

.hero__title-part {
  font-size: 34px;
  font-weight: 400;
  line-height: 1.2352941176;
  line-height: 96.5%;
  text-transform: uppercase;
}

.hero__buttons {
  padding-top: 32px;
  padding-bottom: 236px;
}

.hero__btn {
  text-align: center;
  font-family: var(--primary-font);
  font-weight: 600;
  line-height: normal;
  padding: 11px 26px;
  font-size: 12px;
  border-radius: 8px;
  background-color: transparent;
  cursor: pointer;
}

.btn__products {
  text-decoration: none;
  color: var(--header-btn-color-black);
  border: 2px solid var(--site-accent-color);
  transition: border-color, color var(--page-transition);
}
.btn__products:hover {
  border-color: var(--active-color);
}
.btn__products:focus {
  border-color: var(--active-color);
  color: var(--font-color);
}

.btn__how-its-made {
  color: var(--site-accent-color);
  text-decoration-line: underline;
  border: none;
  transition: color var(--page-transition);
}
.btn__how-its-made:hover {
  color: var(--active-color);
}
.btn__how-its-made:focus {
  color: var(--font-color);
}

.hero__dots {
  z-index: -1;
  position: absolute;
  bottom: 0;
  right: 0;
}

.hero__icecream {
  position: absolute;
  bottom: 0;
  right: 60px;
}

@media screen and (min-width: 480px) {
  .hero__title {
    width: 247px;
  }
  .hero__buttons {
    padding-top: 32px;
    padding-bottom: 150px;
  }
  .hero__icecream {
    position: absolute;
    bottom: 0;
    right: 20px;
  }
}
@media screen and (max-width: 767px) {
  .hero__motto {
    display: none;
  }
  .hero__counter {
    display: none;
  }
  .hero__many-icecreams {
    display: none;
  }
  .hero__statistic {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .hero__buttons {
    padding-top: 24px;
    padding-bottom: 0;
  }
  .hero__motto {
    padding-top: 39px;
    padding-bottom: 24px;
    padding-left: 184px;
  }
  .hero__motto-text {
    margin-top: 0;
    margin-bottom: 29px;
    width: 165px;
    color: var(--motto-font-color);
    font-family: var(--motto-font);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
  }
  .hero__motto-arrow {
    fill: var(--motto-font-color);
  }
  .hero__statistic {
    position: absolute;
    top: 28px;
    right: 32px;
    text-align: right;
    font-family: Montserrat;
  }
  .hero__statistic-count {
    margin: 0;
    color: var(--title-font-color);
    font-size: 28px;
    font-weight: 900;
    letter-spacing: 1.12px;
    text-transform: uppercase;
  }
  .hero__statistic-text {
    margin: 4px 0px 20px 0px;
    color: var(--font-color);
    font-size: 8px;
    font-weight: 400;
  }
  .hero__many-icecreams {
    position: absolute;
    bottom: 12px;
    left: 32px;
  }
  .hero__icecream {
    bottom: 0;
    right: 92px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    margin: 0;
    width: 367px;
    color: var(--font-color);
    font-family: var(--header-font);
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.52px;
    text-transform: uppercase;
  }
  .hero__buttons {
    padding-top: 28px;
  }
  .hero__btn {
    padding: 12px 34px;
    font-size: 14px;
  }
  .btn__products {
    transition: color var(--page-transition), border-color var(--page-transition);
  }
  .btn__products:focus {
    border-color: var(--active-color);
  }
  .btn__products:focus {
    color: var(--font-color);
  }
  .hero__motto {
    padding-top: 109px;
    padding-bottom: 103px;
    padding-left: 257px;
  }
  .hero__motto-text {
    margin-bottom: 24px;
    width: 200px;
    font-size: 14px;
  }
  .hero__counter {
    top: 0;
    right: 0;
  }
  .hero__many-icecreams {
    bottom: 65px;
    left: 16px;
  }
  .hero__icecream {
    bottom: 0;
    left: 652px;
  }
}
.products {
  background-color: var(--background-color);
  margin-left: auto;
  margin-right: auto;
  max-width: 480px;
  background-image: url(../images/products_background_mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products {
    background-image: url(../images/products_background_mobile@2x.jpg);
  }
}
.products__lable {
  margin: 0;
  padding-top: 60px;
  color: var(--title-font-color);
  text-align: center;
  font-family: var(--primary-font);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.2222222222;
  text-transform: uppercase;
}

.products__title {
  margin-top: 12px;
  margin-bottom: 0px;
  color: var(--title-font-color);
  text-align: center;
  font-family: var(--header-font);
  font-size: 30px;
  font-weight: 400;
  line-height: 1.2666666667;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.products__grid-container {
  position: relative;
  margin-top: 148px;
  display: grid;
  justify-items: center;
  grid-row-gap: 168px;
  padding-bottom: 60px;
}

.products__card {
  position: relative;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 280px;
  height: 420px;
  padding: 123px 40px 16px 40px;
}
.products__card::before {
  content: "";
  display: block;
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  top: -97px;
  left: 50%;
  transform: translateX(-50%);
}
.products__card::after {
  display: block;
  position: absolute;
  top: -108px;
  left: 50%;
  transform: translateX(-50%);
}
.products__card:nth-child(1) {
  background: #aec6a5;
}
.products__card:nth-child(1)::before {
  background: linear-gradient(0deg, rgba(156, 190, 143, 0.7) 0%, rgba(156, 190, 143, 0.7) 100%), #d9d9d9;
  filter: drop-shadow(0px 5.342px 20.033px rgba(10, 136, 23, 0.25));
}
.products__card:nth-child(1)::after {
  content: url("../images/products_ice-cream.png");
}
.products__card:nth-child(2) {
  background: #efd478;
}
.products__card:nth-child(2)::before {
  background: linear-gradient(0deg, rgba(248, 210, 78, 0.7) 0%, rgba(248, 210, 78, 0.7) 100%), #d9d9d9;
  filter: drop-shadow(0px 5.404px 20.265px rgba(153, 114, 23, 0.25));
}
.products__card:nth-child(2)::after {
  content: url("../images/products_ice-coffee.png");
}
.products__card:nth-child(3) {
  background: #d6936d;
}
.products__card:nth-child(3)::before {
  background: linear-gradient(0deg, rgba(213, 117, 63, 0.7) 0%, rgba(213, 117, 63, 0.7) 100%), #d9d9d9;
  filter: drop-shadow(0px 5.413px 20.3px rgba(0, 0, 0, 0.25));
}
.products__card:nth-child(3)::after {
  content: url("../images/products_milkshakes.png");
}

.products__card-title {
  color: var(--title-font-color);
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  margin: 0;
}

.products__card-text {
  color: var(--title-font-color);
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.76;
  letter-spacing: 0.56px;
  margin: 0;
  margin-top: 40px;
  flex-grow: 1;
}

.products__btn {
  display: block;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.products__btn-arrow {
  fill: var(--title-font-color);
}
.products__btn:hover .products__btn-arrow, .products__btn:focus .products__btn-arrow {
  fill: var(--font-color);
}

@media screen and (min-width: 480px) {
  .products {
    background-image: url(../images/products_background_480.jpg);
    background-position: top -20px center;
  }
}
@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .products {
    background-image: url(../images/products_background_480@2x.jpg);
  }
}
@media screen and (min-width: 480px) {
  .products__grid-container {
    margin-top: 145px;
  }
  .products__card {
    width: 320px;
    height: 428px;
    padding: 126px 60px 16px 60px;
  }
}
@media screen and (min-width: 768px) {
  .products {
    background-repeat: no-repeat;
    max-width: 768px;
    background-image: url(../images/products_background_tablet.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .products {
    background-image: url(../images/products_background_tablet@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .products__lable {
    font-size: 22px;
    font-weight: 800;
    line-height: 1.2272727273;
  }
  .products__title {
    font-size: 34px;
    font-weight: 400;
    line-height: 1.2647058824;
    letter-spacing: 1.36px;
  }
  .products__grid-container {
    grid-template-columns: 224px 224px 224px;
    grid-column-gap: 16px;
    margin-top: 200px;
  }
  .products__card {
    width: 224px;
    height: 428px;
    padding: 108px 26px 12px 26px;
  }
}
@media screen and (min-width: 1200px) {
  .products {
    max-width: 1200px;
    background-position: top 2px center;
    background-image: url(../images/products_background_desktop.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .products {
    background-image: url(../images/products_background_desktop@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .products__lable {
    font-size: 30px;
    font-weight: 800;
    line-height: 1.2333333333;
  }
  .products__title {
    font-size: 36px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 2.16px;
  }
  .products__card-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.76;
    letter-spacing: 0.64px;
    margin-top: 66px;
  }
  .products__grid-container {
    grid-template-columns: 370px 370px 370px;
    grid-column-gap: 29px;
    margin-top: 303px;
  }
  .products__card {
    border-radius: 24px;
    width: 370px;
    height: 536px;
    padding: 165px 64px 60px 64px;
  }
  .products__card::before {
    width: 302px;
    height: 302px;
    top: -167px;
    left: 50%;
    transform: translateX(-50%);
  }
  .products__card::after {
    display: block;
    position: absolute;
    top: -183px;
    left: 50%;
    transform: translateX(-50%);
  }
  .products__card:nth-child(1) {
    background: #aec6a5;
  }
  .products__card:nth-child(1)::before {
    background: linear-gradient(0deg, rgba(156, 190, 143, 0.7) 0%, rgba(156, 190, 143, 0.7) 100%), #d9d9d9;
    filter: drop-shadow(0px 5.342px 20.033px rgba(10, 136, 23, 0.25));
  }
  .products__card:nth-child(1)::after {
    content: url("../images/products_ice-cream302x302.png");
  }
  .products__card:nth-child(2) {
    background: #efd478;
  }
  .products__card:nth-child(2)::before {
    background: linear-gradient(0deg, rgba(248, 210, 78, 0.7) 0%, rgba(248, 210, 78, 0.7) 100%), #d9d9d9;
    filter: drop-shadow(0px 5.404px 20.265px rgba(153, 114, 23, 0.25));
  }
  .products__card:nth-child(2)::after {
    content: url("../images/products_ice-coffee302x302.png");
  }
  .products__card:nth-child(3) {
    background: #d6936d;
  }
  .products__card:nth-child(3)::before {
    background: linear-gradient(0deg, rgba(213, 117, 63, 0.7) 0%, rgba(213, 117, 63, 0.7) 100%), #d9d9d9;
    filter: drop-shadow(0px 5.413px 20.3px rgba(0, 0, 0, 0.25));
  }
  .products__card:nth-child(3)::after {
    content: url("../images/products_milkshakes302x302.png");
  }
}
.about {
  padding-top: 60px;
}

.about__lable {
  margin: 0;
  margin-bottom: 12px;
  color: var(--font-color);
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2222222222;
  text-transform: uppercase;
}

.about__title {
  margin: 0 auto;
  width: 200px;
  color: var(--font-color);
  text-align: center;
  font-family: "Seymour One";
  font-size: 30px;
  font-weight: 400;
  line-height: 1.2666666667;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.about__text {
  width: 220px;
  color: var(--font-color);
  text-align: center;
  font-family: Montserrat;
}

.about__text1 {
  margin: 372px auto 4px auto;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.76;
  letter-spacing: 0.48px;
}

.about__text2 {
  margin: 0px auto 4px auto;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.62;
}

.about__text3 {
  margin: 0px auto 24px auto;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.62;
}

.about__button {
  margin: 0 auto;
  border-radius: 10px;
  background: var(--site-accent-color);
  padding: 12px 35px;
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--header-btn-color-black);
  text-align: center;
  font-family: var(--primary-font);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2857142857;
  cursor: pointer;
  border: none;
  transition: background-color var(--page-transition), color var(--page-transition);
}
.about__button:hover, .about__button:focus {
  background-color: var(--active-color);
}
.about__button:focus {
  color: var(--font-color);
}
.about__button-icon {
  fill: currentColor;
}

.about__cow-pic-shadow {
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(0deg, rgba(248, 210, 78, 0.7) 0%, rgba(248, 210, 78, 0.7) 100%), #d9d9d9;
  box-shadow: 0px 4.486px 16.822px 0px rgba(153, 114, 23, 0.25);
  width: 279px;
  height: 278px;
  top: 180px;
  right: 50%;
  transform: translateX(50%);
}

.about__cow-picture {
  position: absolute;
  top: 202px;
  width: 279px;
  transform: translateX(50%);
  right: 50%;
}

@media screen and (min-width: 768px) {
  .about__lable {
    font-size: 22px;
    font-weight: 800;
    line-height: 1.2272727273;
    letter-spacing: 0.88px;
  }
  .about__title {
    width: auto;
    margin: 0 auto;
    font-size: 34px;
    font-weight: 400;
    line-height: 1.2647058824;
    letter-spacing: 2.04px;
  }
  .about__text {
    text-align: left;
    width: 334px;
  }
  .about__text1 {
    margin: 80px auto 8px 368px;
  }
  .about__text2 {
    margin: 0px auto 8px 368px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.76;
  }
  .about__text3 {
    width: 336px;
    margin: 0px auto 32px 368px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.94;
  }
  .about__button {
    margin-left: 368px;
  }
  .about__cow-pic-shadow {
    border-radius: 165px;
    width: 330px;
    height: 330px;
    top: 154px;
    left: 32px;
    transform: translateX(0);
  }
  .about__cow-picture {
    width: 330px;
    top: 180px;
    left: 32px;
    transform: translateX(0);
  }
}
@media screen and (min-width: 1200px) {
  .about__lable {
    font-size: 30px;
    font-weight: 800;
    line-height: 1.2333333333;
    letter-spacing: 1.2px;
  }
  .about__title {
    font-size: 36px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 2.16px;
  }
  .about__text {
    width: 463px;
  }
  .about__text1 {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.76;
    margin: 135px auto 8px 600px;
  }
  .about__text2 {
    margin: 0px auto 8px 600px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.94;
    letter-spacing: 0.56px;
  }
  .about__text3 {
    margin: 0px auto 54px 600px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.94;
    letter-spacing: 0.56px;
  }
  .about__button {
    margin-left: 600px;
  }
  .about__cow-pic-shadow {
    border-radius: 245px;
    width: 490px;
    height: 490px;
    top: 176px;
    left: 17px;
  }
  .about__cow-picture {
    width: 490px;
    top: 215px;
    left: 17px;
  }
}
.advantages {
  padding-top: 50px;
  padding-bottom: 32px;
}

.advantages__list {
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: center;
  grid-row-gap: 28px;
}

.advantages__item {
  position: relative;
}

.advantages__item::before {
  content: "";
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--site-accent-color);
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.advantages__item::after {
  display: block;
  position: absolute;
  top: 7px;
  left: 50%;
  transform: translateX(-50%);
}

.advantages__item:nth-child(1)::after {
  content: url("../images/advantages_cow.png");
}

.advantages__item:nth-child(2)::after {
  content: url("../images/advantages_weight.png");
}

.advantages__item:nth-child(3)::after {
  content: url("../images/advantages_ice_crema.png");
}

.advantages__number {
  margin-top: 66px;
  margin-bottom: 0;
  color: var(--font-color);
  text-align: center;
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2222222222;
  letter-spacing: 1.44px;
  text-transform: uppercase;
}

.advantages__discription {
  margin-top: 16px;
  margin-bottom: 0;
  width: 230px;
  color: var(--font-color);
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.7;
}

@media screen and (min-width: 480px) {
  .advantages {
    padding-top: 60px;
  }
  .advantages__list {
    grid-row-gap: 32px;
  }
}
@media screen and (min-width: 768px) {
  .advantages {
    padding-top: 80px;
    padding-bottom: 60px;
  }
  .advantages__list {
    grid-template-columns: 152px 152px 152px;
    grid-column-gap: 80px;
  }
  .advantages__number {
    margin-top: 82px;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2291666667;
  }
  .advantages__discription {
    margin-top: 12px;
    width: 152px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.74;
  }
}
@media screen and (min-width: 1200px) {
  .advantages {
    padding-top: 146px;
    padding-bottom: 80px;
  }
  .advantages__list {
    grid-template-columns: 368px 368px 368px;
    grid-column-gap: 32px;
  }
  .advantages__number {
    margin-top: 90px;
    font-size: 58px;
    font-weight: 700;
    line-height: 1.224137931;
  }
  .advantages__discription {
    margin-top: 12px;
    width: 368px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.76;
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .advantages__item:nth-child(1)::after {
    content: url("../images/advantages_cow@2x.png");
  }
  .advantages__item:nth-child(2)::after {
    content: url("../images/advantages_weight@2x.png");
  }
  .advantages__item:nth-child(3)::after {
    content: url("../images/advantages_ice_crema@2x.png");
  }
}
.sections {
  background-image: url(../images/sections_background_mobile.jpg);
  background-repeat: no-repeat;
  background-position: top 32px center;
}

.gallery {
  display: flex;
  position: relative;
  height: 130px;
}

picture:nth-child(1) img {
  animation-delay: 0s;
}

picture:nth-child(2) img {
  animation-delay: 3s;
}

picture:nth-child(3) img {
  animation-delay: 6s;
}

.gallery__img {
  border-radius: 8px;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
}

picture .gallery__img {
  animation: imageAnimation 9s infinite;
}

@keyframes imageAnimation {
  0%, 100% {
    opacity: 0;
  }
  3%, 33% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .sections {
    background-image: url(../images/sections_background_mobile@2x.jpg);
  }
}
@media screen and (min-width: 480px) {
  .sections {
    max-width: 480px;
    background-position: top 49px center;
    background-image: url(../images/sections_background_480.jpg);
  }
}
@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .sections .sections {
    background-image: url(../images/sections_background_480@2x.jpg);
  }
}
@media screen and (min-width: 480px) {
  .gallery {
    height: 204px;
  }
}
@media screen and (min-width: 768px) {
  .sections {
    background-position: top 144px center;
    max-width: 768px;
    background-image: url(../images/sections_background_tablet.jpg);
  }
  .gallery {
    height: 327px;
  }
  .gallery__img {
    border-radius: 18px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .sections {
    background-image: url(../images/sections_background_tablet@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .sections {
    max-width: 1200px;
    background-position: top 98px center;
    background-image: url(../images/sections_background_desktop.jpg);
  }
  .gallery {
    height: 422px;
  }
  .gallery__img {
    border-radius: 24px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .sections {
    background-image: url(../images/sections_background_desktop@2x.jpg);
  }
}
.customer {
  padding-top: 80px;
}

.customer__img {
  border-radius: 50%;
  margin: auto;
  margin-bottom: 32px;
}

.customer__review {
  font-size: 12px;
  font-weight: 400;
  line-height: 2.55;
  font-family: var(--primary-font);
  width: 280px;
  border-radius: 10px;
  background-color: #84a178;
  padding: 35px 39px 35px 39px;
  letter-spacing: 0.04em;
  text-align: center;
  margin: auto;
  color: #fcfcfc;
}

.customer__name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.86;
  font-family: var(--primary-font);
  text-align: center;
  margin-top: 32px;
  margin-bottom: 12px;
  color: #131313;
}

.swiper-pagination {
  display: flex;
  gap: 18px;
  justify-content: center;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #d9d9d9;
  border-radius: 50%;
}

.swiper-pagination-bullet-active {
  background-color: #84a178;
}

@media screen and (min-width: 768px) {
  .customer {
    padding-top: 100px;
  }
  .customer__review {
    width: 705px;
    border-radius: 24px;
    padding: 28px 80px 29px 80px;
    font-weight: 500;
    font-size: 14px;
    line-height: 26.04px;
  }
  .customer__name {
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 29.76px;
  }
}
@media screen and (min-width: 1200px) {
  .customer {
    padding-top: 140px;
  }
  .customer__review {
    width: 968px;
    padding: 43px 74px 41px 73px;
    font-size: 16px;
    line-height: 29.76px;
  }
}
.contacts {
  margin-top: 60px;
}

.contacts__grid-container {
  display: grid;
  grid-row-gap: 16px;
}

.contacts__item {
  width: 280px;
  border-radius: 24px;
  background-color: #fcfcfc;
  margin: auto;
  padding: 40px 32px 24px 32px;
  box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1019607843);
}

.contacts__type {
  background-color: #f8d24e;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 4px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  line-height: 14.4px;
  letter-spacing: 0.04em;
  text-align: center;
  margin: 0;
  padding: 4px 22px 4px 22px;
  color: #131313;
}

.contacts__region {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  line-height: 22.32px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #131313;
  margin-top: 20px;
  margin-bottom: 8px;
}

.contacts__address {
  margin: 0;
  width: 190px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  line-height: 21.96px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #d6936d;
}

.contacts__address::after {
  margin-top: 24px;
  margin-bottom: 24px;
  content: "";
  display: block;
  width: 216px;
  height: 1px;
  background: #e1e1e1;
}

.contacts__days {
  margin: 0;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  line-height: 22.32px;
  text-align: left;
  color: #131313;
}

.contacts__time {
  margin: 0;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  line-height: 22.32px;
  text-align: left;
  color: #ababab;
}

.contacts__tel {
  margin: 0;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  line-height: 19.2px;
  text-align: left;
  text-decoration-line: none;
  color: #131313;
}

.contacts__tel::before {
  margin-top: 24px;
  margin-bottom: 24px;
  content: "";
  display: block;
  width: 216px;
  height: 1px;
  background: #e1e1e1;
}

.contacts__email {
  margin: 0;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  line-height: 19.2px;
  text-align: left;
  text-decoration-line: none;
  color: #131313;
}

.contacts__buttons {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contacts__btn {
  margin: 0 auto;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--header-btn-color-black);
  font-family: var(--primary-font);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2857142857;
  text-align: center;
  cursor: pointer;
}

.btn__our-locations {
  border: none;
  background: var(--site-accent-color);
  transition: background-color var(--page-transition), color var(--page-transition);
  padding: 12px 40px;
}
.btn__our-locations:hover, .btn__our-locations:focus {
  background-color: var(--active-color);
}
.btn__our-locations:focus {
  color: var(--font-color);
}
.btn__our-locations-icon {
  fill: currentColor;
}

.btn__franchise {
  padding: 12px 55px;
  border: 2px solid var(--site-accent-color);
  background: var(--background-color);
  transition: border-color var(--page-transition), color var(--page-transition);
}
.btn__franchise:hover, .btn__franchise:focus {
  border-color: var(--active-color);
}
.btn__franchise:focus {
  color: var(--font-color);
}
.btn__franchise-icon {
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .contacts {
    margin-top: 80px;
  }
  .contacts__grid-container {
    grid-template-columns: 224px 224px 224px;
    grid-column-gap: 16px;
    justify-items: center;
  }
  .contacts__item {
    width: 224px;
    height: 537px;
    padding: 40px 24px 40px 24px;
  }
  .contacts__type {
    border-radius: 6px;
    font-size: 16px;
    line-height: 22.4px;
    padding: 4px 22px 4px 22px;
  }
  .contacts__region {
    font-size: 14px;
    line-height: 26.04px;
    margin-top: 32px;
    margin-bottom: 12px;
  }
  .contacts__address {
    width: 176px;
    font-size: 14px;
    line-height: 25.62px;
  }
  .contacts__address::after {
    margin-top: 32px;
    margin-bottom: 32px;
    width: 176px;
  }
  .contacts__days {
    font-size: 14px;
    line-height: 26.04px;
  }
  .contacts__time {
    font-size: 14px;
    line-height: 26.04px;
    color: #907e82;
  }
  .contacts__tel {
    font-size: 14px;
    line-height: 21px;
  }
  .contacts__tel::before {
    margin-top: 32px;
    margin-bottom: 32px;
    width: 176px;
  }
  .contacts__email {
    font-size: 14px;
    line-height: 21px;
  }
  .contacts__buttons {
    margin-top: 40px;
    flex-direction: row;
    justify-content: center;
  }
  .contacts__btn {
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    margin-top: 100px;
  }
  .contacts__grid-container {
    grid-template-columns: 368px 368px 368px;
    grid-column-gap: 32px;
    justify-items: center;
  }
  .contacts__item {
    width: 368px;
    height: 542px;
    padding: 40px 40px;
  }
  .contacts__type {
    border-radius: 6px;
    font-size: 16px;
    line-height: 22.4px;
    padding: 4px 14px 4px 14px;
  }
  .contacts__region {
    font-size: 16px;
    line-height: 29.76px;
    margin-top: 32px;
    margin-bottom: 8px;
  }
  .contacts__address {
    width: 288px;
    font-size: 16px;
    line-height: 29.28px;
  }
  .contacts__address::after {
    margin-top: 32px;
    margin-bottom: 32px;
    width: 288px;
  }
  .contacts__days {
    font-size: 16px;
    line-height: 29.76px;
  }
  .contacts__time {
    font-size: 16px;
    line-height: 29.76px;
    color: #ababab;
  }
  .contacts__tel {
    font-size: 16px;
    line-height: 24px;
  }
  .contacts__tel::before {
    margin-top: 32px;
    margin-bottom: 32px;
    width: 288px;
  }
  .contacts__email {
    font-size: 16px;
    line-height: 24px;
  }
  .contacts__buttons {
    margin-top: 60px;
  }
}
.footer__container {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}

.footer__title-first {
  margin: 0;
  width: 242px;
  text-align: left;
  color: var(--font-color);
  font-family: var(--primary-font);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2188888889;
  text-transform: uppercase;
}

.footer__title-second {
  margin-top: 16px;
  margin-bottom: 60px;
  width: 200px;
  letter-spacing: 0.04em;
  text-align: left;
  color: var(--font-color);
  font-family: var(--primary-font);
  font-size: 34px;
  font-weight: 700;
  line-height: 1.2191176471;
  text-transform: uppercase;
}

.footer__socials-list {
  display: flex;
  gap: 20px;
  justify-content: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer__socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: var(--site-accent-color);
}

.footer__socials-icon {
  fill: var(--background-color);
  transition: fill var(--page-transition);
}
.footer__socials-link:hover .footer__socials-icon, .footer__socials-link:focus .footer__socials-icon {
  fill: var(--font-color);
}

.footer__tel-container {
  margin-top: 20px;
  display: flex;
  justify-content: right;
  font-family: var(--primary-font);
  font-size: 12px;
  font-weight: 700;
  line-height: 1.86;
  color: var(--title-font-color);
}

.footer__tel-text {
  margin: 0;
  color: var(--title-font-color);
}

.footer__tel-number {
  color: var(--font-color);
  text-decoration: none;
}

.footer__copyright-text {
  margin: 0 auto;
  padding-bottom: 20px;
  width: 150px;
  text-align: center;
  font-family: var(--primary-font);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.52;
  color: #7a7a7a;
}

.footer__copyright::before {
  margin-top: 40px;
  margin-bottom: 20px;
  content: "";
  display: block;
  width: 100vw;
  height: 1px;
  background: #e1e1e1;
}

@media screen and (min-width: 768px) {
  .footer__container {
    flex-direction: row;
    padding-top: 40px;
    justify-content: space-between;
  }
  .footer__title-first {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2188461538;
    letter-spacing: 0.04em;
    width: 352px;
  }
  .footer__title-second {
    margin-top: 8px;
    margin-bottom: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2189583333;
    letter-spacing: 0.06em;
    width: 352px;
  }
  .footer__socials-list {
    margin-top: 61px;
  }
  .footer__tel-container {
    margin-top: 34px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.86;
  }
  .footer__copyright-text {
    width: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    padding-top: 120px;
  }
  .footer__title-first {
    font-size: 30px;
    font-weight: 400;
    line-height: 1.219;
    width: auto;
  }
  .footer__title-second {
    font-size: 58px;
    font-weight: 700;
    line-height: 1.2189655172;
    width: auto;
  }
  .footer__socials-list {
    margin-top: 18px;
  }
  .footer__tel-container {
    margin-top: 40px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.86;
    letter-spacing: 0.02em;
  }
  .footer__copyright-text {
    font-size: 12px;
    font-weight: 700;
    line-height: 1.86;
    letter-spacing: 0.02em;
  }
}/*# sourceMappingURL=index.css.map */