<section class="contacts">
  <div class="container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contacts__list list">
      <li class="contacts__item">
        <p class="contacts__type">cafe</p>
        <p class="contacts__region">Chicago</p>
        <p class="contacts__address">
          10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA
        </p>
        <p class="contacts__days">Monday - Friday</p>
        <p class="contacts__time">06:00 AM - 10:00 PM</p>
        <p class="contacts__days">Saturday - Sunday</p>
        <p class="contacts__time">08:00 AM - 16:00 PM</p>

        <p class="advantages__discription">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
