<section id="contacts" class="contacts">
  <h2 class="visually-hidden">Contacts</h2>
  <div class="contacts__grid-container">
    <div class="contacts__item">
      <p class="contacts__type">CAFE</p>
      <p class="contacts__region">Chicago</p>
      <p class="contacts__address">
        10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA
      </p>
      <p class="contacts__days">Monday - Friday</p>
      <p class="contacts__time">06:00 AM - 10:00 PM</p>
      <p class="contacts__days">Saturday - Sunday</p>
      <p class="contacts__time">08:00 AM - 16:00 PM</p>
      <a href="tel:+380961111111" class="contacts__tel"> +61(0) 383 766 284</a>
      <a href="meilto:info@devstudio.com" class="contacts__email">
        noreply@envato.com</a
      >
    </div>
    <div class="contacts__item">
      <p class="contacts__type">FOODTRUCK</p>
      <p class="contacts__region">Los Angeles</p>
      <p class="contacts__address">
        1003 Manhattan Ave, Manhattan Beach, CA 90263, USA
      </p>
      <p class="contacts__days">Monday - Friday</p>
      <p class="contacts__time">06:00 AM - 10:00 PM</p>
      <p class="contacts__days">Saturday - Sunday</p>
      <p class="contacts__time">08:00 AM - 16:00 PM</p>
      <a href="tel:+380961111111" class="contacts__tel"> +61(0) 383 766 284</a>
      <a href="meilto:info@devstudio.com" class="contacts__email">
        noreply@envato.com</a
      >
    </div>
    <div class="contacts__item">
      <p class="contacts__type">CAFE</p>
      <p class="contacts__region">New York</p>
      <p class="contacts__address">726 Sterling Pl, Brooklyn, NY 11222, USA</p>
      <p class="contacts__days">Monday - Friday</p>
      <p class="contacts__time">06:00 AM - 10:00 PM</p>
      <p class="contacts__days">Saturday - Sunday</p>
      <p class="contacts__time">08:00 AM - 16:00 PM</p>
      <a href="tel:+380961111111" class="contacts__tel"> +61(0) 383 766 284</a>
      <a href="meilto:info@devstudio.com" class="contacts__email">
        noreply@envato.com</a
      >
    </div>
  </div>
  <div class="contacts__buttons">
    <button type="button" class="contacts__btn btn__our-locations">
      Our Locations
      <svg width="12" height="12" class="btn__our-locations-icon">
        <use href="./images/symbol-defs.svg#ep_arrow-right-bold"></use>
      </svg>
    </button>
    <button type="button" class="contacts__btn btn__franchise">
      Franchise
      <svg width="12" height="12" class="btn__franchise-icon">
        <use href="./images/symbol-defs.svg#ep_arrow-right-bold"></use>
      </svg>
    </button>
  </div>
</section>
