<section class="gallery">
  <picture class="gallery__picture">
    <source
      srcset="./images/dots_desktop.png 1x, ./images/dots_desktop@2x.png 2x"
      media="(min-width: 1200px)"
      type="image/jpeg"
    />

    <source
      srcset="./images/dots_tablet.png 1x, ./images/dots_tablet@2x.png 2x"
      media="(min-width: 768px)"
      type="image/jpeg"
    />
    <source
      srcset="./images/dots_480.png 1x, ./images/dots_480@2x.png 2x"
      media="(min-width: 480px)"
      type="image/jpeg"
    />
    <source
      srcset="./images/dots_mobile.png 1x, ./images/dots_mobile@2x.png 2x"
      type="image/jpeg"
    />

    <img src="./images/dots_mobile.png" alt="many dots" />
  </picture>
</section>
