<section class="gallery">
  <picture>
    <source
      srcset="
        ./images/gallery1_desktop.jpeg    1x,
        ./images/gallery1_desktop@2x.jpeg 2x
      "
      media="(min-width: 1200px)"
      type="image/jpeg"
    />
    <source
      srcset="
        ./images/gallery1_tablet.jpeg    1x,
        ./images/gallery1_tablet@2x.jpeg 2x
      "
      media="(min-width: 768px)"
      type="image/jpeg"
    />
    <source
      srcset="./images/gallery1_480.jpeg 1x, ./images/gallery1_480@2x.jpeg 2x"
      media="(min-width: 480px)"
      type="image/jpeg"
    />
    <source
      srcset="
        ./images/gallery1_mobile.jpeg    1x,
        ./images/gallery1_mobile@2x.jpeg 2x
      "
      type="image/jpeg"
    />

    <img
      class="gallery__img"
      src="./images/gallery1_mobile.jpeg"
      alt="gallery__picture"
    />
  </picture>

  <picture>
    <source
      srcset="
        ./images/gallery2_desktop.jpeg    1x,
        ./images/gallery2_desktop@2x.jpeg 2x
      "
      media="(min-width: 1200px)"
      type="image/jpeg"
    />
    <source
      srcset="
        ./images/gallery2_tablet.jpeg    1x,
        ./images/gallery2_tablet@2x.jpeg 2x
      "
      media="(min-width: 768px)"
      type="image/jpeg"
    />
    <source
      srcset="./images/gallery2_480.jpeg 1x, ./images/gallery2_480@2x.jpeg 2x"
      media="(min-width: 480px)"
      type="image/jpeg"
    />
    <source
      srcset="
        ./images/gallery2_mobile.jpeg    1x,
        ./images/gallery2_mobile@2x.jpeg 2x
      "
      type="image/jpeg"
    />

    <img
      class="gallery__img"
      src="./images/gallery2_mobile.jpeg"
      alt="more ice cream"
    />
  </picture>
  <picture>
    <source
      srcset="
        ./images/gallery3_desktop.jpeg    1x,
        ./images/gallery3_desktop@2x.jpeg 2x
      "
      media="(min-width: 1200px)"
      type="image/jpeg"
    />
    <source
      srcset="
        ./images/gallery3_tablet.jpeg    1x,
        ./images/gallery3_tablet@2x.jpeg 2x
      "
      media="(min-width: 768px)"
      type="image/jpeg"
    />
    <source
      srcset="./images/gallery3_480.jpeg 1x, ./images/gallery3_480@2x.jpeg 2x"
      media="(min-width: 480px)"
      type="image/jpeg"
    />
    <source
      srcset="
        ./images/gallery3_mobile.jpeg    1x,
        ./images/gallery3_mobile@2x.jpeg 2x
      "
      type="image/jpeg"
    />

    <img
      class="gallery__img"
      src="./images/gallery3_mobile.jpeg"
      alt="gallery__picture"
    />
  </picture>
</section>
