<section>
  <div class="container hero__container">
    <picture class="hero__dots">
      <source
        srcset="./images/dots_desktop.png 1x, ./images/dots_desktop@2x.png 2x"
        media="(min-width: 1200px)"
        type="image/jpeg"
      />

      <source
        srcset="./images/dots_tablet.png 1x, ./images/dots_tablet@2x.png 2x"
        media="(min-width: 768px)"
        type="image/jpeg"
      />
      <source
        srcset="./images/dots_480.png 1x, ./images/dots_480@2x.png 2x"
        media="(min-width: 480px)"
        type="image/jpeg"
      />
      <source
        srcset="./images/dots_mobile.png 1x, ./images/dots_mobile@2x.png 2x"
        type="image/jpeg"
      />

      <img src="./images/dots_mobile.png" alt="many dots" />
    </picture>
    <picture class="hero__many-icecreams">
      <source
        srcset="
          ./images/many_icecream_desktop.png    1x,
          ./images/many_icecream_desktop@2x.png 2x
        "
        media="(min-width: 1200px)"
        type="image/jpeg"
      />

      <source
        srcset="
          ./images/many_icecream_tablet.png    1x,
          ./images/many_icecream_tablet@2x.png 2x
        "
        media="(min-width: 480px)"
        type="image/jpeg"
      />

      <img src="./images/many_icecream_desktop.png" alt="scoops of icecream" />
    </picture>
    <picture class="hero__icecream">
      <source
        srcset="
          ./images/icecream_hero_desktop.png    1x,
          ./images/icecream_hero_desktop@2x.png 2x
        "
        media="(min-width: 1200px)"
        type="image/jpeg"
      />

      <source
        srcset="
          ./images/icecream_hero_tablet.png    1x,
          ./images/icecream_hero_tablet@2x.png 2x
        "
        media="(min-width: 768px)"
        type="image/jpeg"
      />
      <source
        srcset="
          ./images/icecream_hero_480.png    1x,
          ./images/icecream_hero_480@2x.png 2x
        "
        media="(min-width: 480px)"
        type="image/jpeg"
      />
      <source
        srcset="
          ./images/icecream_hero_mobile.png    1x,
          ./images/icecream_hero_mobile@2x.png 2x
        "
        media="(min-width: 320px)"
        type="image/jpeg"
      />

      <img src="./images/icecream_hero_mobile.png" alt="icecream" />
    </picture>

    <h1 class="hero__title">
      ice cream made with <span class="hero__title-part">passion</span>
    </h1>

    <div class="hero__buttons">
      <a class="hero__btn btn__products" href="#products"> Products </a>
      <a class="hero__btn btn__how-its-made" href="#about"> How it’s made? </a>
    </div>

    <div class="hero__motto">
      <p class="hero__motto-text">
        Indulge in a scoop of ice cream made with passion and treat your taste
        buds to an unforgettable experience!
      </p>
      <svg width="40" height="16" class="hero__motto-arrow">
        <use href="./images/symbol-defs.svg#Arrow"></use>
      </svg>
    </div>

    <div class="hero__statistic">
      <p class="hero__statistic-count">16</p>
      <p class="hero__statistic-text">cafes</p>
      <p class="hero__statistic-count">23</p>
      <p class="hero__statistic-text">food trucks</p>
    </div>
  </div>
</section>
